@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    /* width */
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    /* Handle */
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(200, 200, 200);
  }

  ::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: rgb(1, 1, 1);
  }
}

/* Firefox */
@supports (-moz-appearance: none) {
  html {
    scrollbar-color: rgb(100, 100, 100) black;
    scrollbar-width: thin;
  }
}


html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', serif;
  color: white;
  background-color: transparent;
}

header {
  height: 1000px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/Restaurant.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  nav {
    font-size: 25px;
    display: flex;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 370px;
    z-index: 99;

    a {
      text-decoration: none;
    }

    .outer {
      justify-content: space-between;
      display: flex;
      width: 100%;
    }

    .left {
      display: flex;
      padding-left: 120px;
      flex-direction: column;
      justify-content: center;
    }

    .right {
      display: flex;
      padding-right: 120px;
      width: 400px;
      justify-content: right;
      align-items: center;
      gap: 95px;
      flex-shrink: 0;
    }
  }

  .preTitle {
    text-align: center;
    padding-top: 150px;
    font-size: 55px;
    margin: 0;
    font-weight: 100;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 125px;
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px 2px #ffea00;
    font-weight: 100;
  }

  .description {
    font-size: 35px;
    text-align: center;
    margin: 0 300px 0;
    padding: 10px 10px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: #ffea00;
    border-style: solid;
    border-radius: 40px;
  }
}