.navbar {
    font-size: 25px;
    display: flex;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 370px;
    z-index: 99;

    a {
        text-decoration: none;
    }

    .outer {
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .left {
        display: flex;
        padding-left: 120px;
        flex-direction: column;
        justify-content: center;
    }

    .right {
        display: flex;
        padding-right: 120px;
        width: 400px;
        justify-content: right;
        align-items: center;
        gap: 95px;
        flex-shrink: 0;
    }

    h1 {
        color: white;
    }

    h1:hover {
        color: rgb(177, 177, 177);
    }
}