@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::-webkit-scrollbar {
    /* width */
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    /* Handle */
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(200, 200, 200);
  }

  ::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: rgb(1, 1, 1);
  }
}

/* Firefox */
@supports (-moz-appearance: none) {
  html {
    scrollbar-color: rgb(100, 100, 100) black;
    scrollbar-width: thin;
  }
}


html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Tilt Neon', serif;
  color: white;
  background-color: transparent;
}

.section0 {
  background-color: #260000;
  /* height: 1950px; */
  height: auto;
  padding-bottom: 200px;

  .title {
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 75px;
    text-align: center;
    font-weight: 100;
  }

  .staffDescription {
    margin: 0 350px 0;
    margin-bottom: 200px;
    font-size: 35px;
    text-align: center;
    padding: 10px 10px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: #ffea00;
    border-style: solid;
    border-radius: 40px;
  }

  .wrapper {
    width: 1500px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    margin: 0 auto;
  }

  .luigi {
    height: 700px;
    width: 500px;
    border-style: solid;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px #ffea00);
  }

  .luigiName {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 100;
  }

  .luigiDescription {
    font-size: 40px;
    margin: 0;
    margin-left: 40px;
  }

  .mario {
    height: 700px;
    width: 500px;
    border-style: solid;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px #ffea00);
  }

  .marioName {
    text-align: right;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 100;
  }

  .marioDescription {
    text-align: right;
    font-size: 40px;
    margin: 0;
    margin-right: 40px;
  }

}