<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/secret.css">
	<link rel="stylesheet" href="../static/navbar.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Order</title>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="outer" style="display: flex">

				<div class="left">
					<a href="{{ url_for('index') }}">
						<h1>Home</h1>
					</a>
				</div>

				<div class="right">
					<a href="{{ url_for('staff') }}">
						<h1>Staff</h1>
					</a>
					<a href="{{ url_for('order')}}">
						<h1>Order</h1>
					</a>
					<a href="#">
						<h1>Secret</h1>
					</a>
				</div>

			</div>
		</nav>
	</header>


	<section class="section3">
		<h1 class="title">Cashier</h1>
		<p>Cashier's job is to confirm the order and send it to the kitchen.</p>

		<div class="pendingOrder initialPendingOrder">
			<div class="pendingOrderRows">
				<div class="pendingOrderRow">
					<h2>Order Number:</h2>
					<h3 id="pendingOrderNumber">9999</h3>
				</div>
				<div class="pendingOrderRow">
					<h2>Pizza name:</h2>
					<h3 id="pendingPizzaName">Pepperoni</h3>
				</div>
				<div class="pendingOrderRow">
					<h2>Status:</h2>
					<h3 id="payedStatus">Not Payed</h3>
				</div>
			</div>

			<div class="pendingOrderRow" style="align-content: center; display: flex;">
				<button id="confirmButton">CONFIRM</button>
			</div>

			<div class="pendingOrderRow" style="align-content: center; display: flex;">
				<button>CANCEL</button>
			</div>

		</div>
	</section>

	<section class="section4">
		<h1 class="title" style="text-align: center; margin-bottom: 100px;">Cooker</h1>
		<div id="readyOrders">
			<div class="readyOrder template">
				<div class="orderRows">
					<div id="orderNumber" class="row">
						<h2>Order Number:</h2>
						<h3 id="readyPizzaNumber">{{ readyPizzaNumber }}</h3>
					</div>
					<div class="row">
						<h2>Pizza name:</h2>
						<h3 id="readyPizzaName">{{ readyPizzaName }}</h3>
					</div>
					<div id="Status" class="row">
						<h2>Status:</h2>
						<h3 id="status">{{ status }}</h3>
					</div>
					<div id="temperatureRow" class="row">
						<h2>Temperature:</h2>
						<h3 id="temperature">{{ temperature }}</h3>
					</div>
					<div id="TimeLeft" class="row">
						<h2>Time Left:</h2>
						<h3 id="timeFromArduino">{{ message }}</h3>
					</div>
				</div>

				<div class="readyButton" class="row" style="align-content: center; display: flex;">
					<button>READY</button>
				</div>

			</div>
		</div>

		<div id="readyOrdersContainer">

		</div>

	</section>

</body>
</html>


<script>

	function renderOrders() 
	{
		var container = document.getElementById("readyOrdersContainer");
		container.innerHTML = "";
		fetch("/getJsonData", {
			method: "GET",
			headers: {
				"Accept": "application/json"
			}
		})
			.then(response => response.json())
			.then(data => {
				console.log("Received JSON data:", data);
				data.forEach(function (order) 
				{
					var readyOrder = document.querySelector(".readyOrder").cloneNode(true);

					readyOrder.querySelector("#readyPizzaNumber").textContent = order.orderNumber;
					readyOrder.querySelector("#readyPizzaName").textContent = order.pizzaName;
					readyOrder.querySelector("#status").textContent = order.status;
					readyOrder.querySelector("#temperature").textContent = order.temp;
					readyOrder.querySelector("#timeFromArduino").textContent = order.countdown;

					container.appendChild(readyOrder);
					readyOrder.style.display = "flex";

				});
			})
			.catch(error => {
				console.error("Error:", error);
			});
	}

	setInterval(renderOrders, 1000);

</script>

<script>
	const requestOptions = {
		method: 'GET',
		headers: {
			'Content-Type': 'application/json'
		}
	};

	fetch('/confirm_order', requestOptions)
		.then(response => {
			console.log('Request:', response.url, requestOptions);
			return response.json();
		})
		.then(data => {
			const pendingOrderDiv = document.querySelector('.pendingOrder');
			data.forEach(order => {
				const clonedDiv = pendingOrderDiv.cloneNode(true);
				clonedDiv.classList.remove('initialPendingOrder');
				const orderNumber = clonedDiv.querySelector('#pendingOrderNumber');
				const pizzaName = clonedDiv.querySelector('#pendingPizzaName');
				orderNumber.textContent = order.orderNumber;
				pizzaName.textContent = order.pizzaName;
				document.querySelector('.section3').appendChild(clonedDiv);
			});
		})
		.catch(error => {
			console.error('Error:', error);
		});

	const checkboxes = document.querySelectorAll('.pizzaCard input[type="checkbox"]');
	const section2PizzaCards = document.querySelector('.section2 .pizzaCards');
	const section3 = document.querySelector('.section3');

	section3.addEventListener('click', function (event) {
		if (event.target.closest('#confirmButton')) {
			const pendingOrder = event.target.closest('.pendingOrder');
			const orderNumber = pendingOrder.querySelector('#pendingOrderNumber').textContent;
			const pizzaName = pendingOrder.querySelector('#pendingPizzaName').textContent;

			fetch('/submit', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ orderNumber: orderNumber, pizzaName: pizzaName }),
			})
				.then(response => response.json())
				.then(data => {
					console.log('Success:', data);
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		}
	});

</script>

<style>
	.initialPendingOrder {
		display: none;
	}

	.template {
		display: none;
	}
</style>